# Database
DATABASE_URL="postgresql://admin:password@localhost:5433/portfolio_db"

# Docker
DB_PORT=your-db-port

# JWT
JWT_SECRET="your-super-secret-jwt-key-here"
JWT_REFRESH_SECRET="your-super-secret-refresh-key-here"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# App
PORT=3001
